body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
nav{
  margin: 0;
}
/* container move from top */
/* .top-slide { */
  /* margin-top: 100px; */
  /* margin-left: 100px; */
/* } */

.container {
  margin-top: 100px;
  margin-left: 300px;
}

/* slide-bar */
#side-bar {
  background-color: #0f4c75;
  height: 715px;
  width: 250px;
  position: absolute;
  display: flex;
  /* border-style: none solid none none; */
  border-width: thin;
  color: #fff;
  border-right-color: #1b262c;
  left: -300px;
  -webkit-transition: -webkit-transform 0.5s;
   transition: transform 0.5s;
}

#side-bar.active {
   /* left: 0; */
   visibility: visible;
   -webkit-transform: translate3d(300px, 0, 0);
   transform: translate3d(300px, 0, 0);
}
/* togglr-burger */
.toggle-btn{
   position :absolute;
   top:10px;
   left:310px;
   cursor: pointer;
}

.toggle-btn span {
   width :30px;
   height: 5px;
   background: #000;
   display: block;
   margin-top: 4px;

}

/* slide-bar profile */
.profile {
  height: 300px;
  width: 250px;
}
/* slide-bar profile heading and paragraph */
.profile h2, p {
  margin-top: 20px;
  margin-left: 40px;
}

/* slide-bar profile images */
.profile img {
  border-radius: 50%;
  /* float: right; */
  height: 150px;
  width: 150px;
  margin-left: 40px;
  margin-top: 10px;
}

/* slide-bar menu */
.side-menu {
  width: 250px;
  height: 50px;
  /* background-color: blue; */
  text-align: center;
}
/* slide-bar menu heading */
.side-menu h4 {
  padding-top: 2%;
  /* font-size: 2rem; */
}
.logout {
  /* border-style: solid none none; */
  border-width: thin;
  margin-bottom: 30px;
  cursor: pointer;
}

/* bottom heading */
.skyline {
  margin-top: 50px;
}

/* Dropdown btns */

.dropbtn {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 10px 0;
}
.desti {
  position: relative;
  display: inline-block;
}


.dropbtn:hover {
  color: blue;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  /* padding-left: 8px; */
}

.active {
  background-color: green;
  color: white;
}

.list{
  font-size: 20px;
}


/* card-view */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  /* font-family: arial; */

}

.price {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
